.header {
    position: relative;
}


.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;

    animation-duration: 1500ms;
    animation-name: show;
    animation-iteration-count: 1;
    @media screen and (min-width: 768px) {
        padding-top: 37px;
        justify-content: flex-start;
    }

    @media screen and (min-width: 768px) {
        justify-content: space-between;
    }
}

.logo {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        flex-grow: 1;
    }
}

.header__button {
    display: none;
    padding-right: 37px;
    padding-left: 37px;

    
    animation-duration: 2000ms;
    animation-name: blink;
    animation-delay: 250ms;
    animation-iteration-count: infinite;

    &:hover {
        background-color: $background-hover;
    }

    @media screen and (min-width: 768px) {
        display: block;
    }
}

