.header {
    background-color: $background-pink;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 37px;
    padding-bottom: 37px;
}

.header__button {
    padding-right: 37px;
    padding-left: 37px;

    font-weight: 700;
    color: $color-red;

    background-color: $background-light;
    border: transparent;
    border-radius: 22px;

    cursor: pointer;
    
    &:hover {
        background: #ECEBEB;
    }
}

