.information {
    background-color: $background-lightpink;
    background-image: url(../../images/desktop/sectionbg-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 41%;
}

.information__container {
    padding-top: 125px;
    padding-bottom: 310px;

    @media screen and (min-width: 768px) {
        padding-top: 130px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 125px;
   }
}

.information__heading {
    margin-bottom: 26px;

    @media screen and (min-width: 768px) {
        margin-bottom: 50px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 55px;
    }
}

.information__box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
    @media screen and (min-width: 768px) {
        margin-bottom: 66px;
        flex-direction: row;
        
    
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 39px;
    }
}


.information__content {
    display: flex;
    flex-direction: column;
    margin-top: 46px;

    @media screen and (max-width: 767px) {
        margin: 0 auto;
    }
    @media screen and (min-width: 768px) 
    {
        margin-top: 0;
        padding-top: 50px;
        width: 340px;   
    }
    @media screen and (min-width: 1200px) {
        width: 463px;
    }
}

.information__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $color-dark;

    &:not(:first-child) {
        margin-top: 14px;

        font-size: 12px;
        line-height: 1.62;
        color: $color-brown;
    }

    @media screen and (max-width:767px) {
        width: 220px;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.76;

        &:not(:first-child) {
            margin-top: 18px;
    
            font-size: 14px;
            line-height: 1.76;
        }
    }

    @media screen and (min-width: 1200px) {
        font-size: 16px;
        line-height: 1.76;

        &:not(:first-child) {
            margin-top: 35px;

            font-size: 14px;
            line-height: 1.94;
            
    }

    }
}

.information__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 176px;
    height: 44px;
    margin-top: 17px;

    color: $color-red;
    font-weight: 700;
    line-height: 1.31px;

    background-color: $background-light;
    border-radius: 22px;

    &:hover,
    &:active,
    &:focus {
        background-color: $background-hover;
    }

    @media screen and (min-width: 768px) {
        margin-top: 62px;
    }
    
    @media screen and (min-width: 1200px) {
        margin-top: 45px;
    }
}

.information__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
}

.information__item {
    margin-left: 30px;
    margin-top: 39px;
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 3*30px)/3);
    }
}

.information__number {
    margin-bottom: 15px;

    font-family: $font-second;
    font-size: 36px;
    line-height: 1.14;
    text-transform: uppercase;
    color: $color-red;

   &::before {
        content: "";
        display: block;
        height: 50px;
        margin-bottom: 40px;
        background-image: url(./../images/icons/icon1.svg);
        background-repeat: no-repeat;
    }
    .information__item:nth-child(2) &::before {
        
        background-image: url(./../images/icons/icon2.svg);
    
    }
    .information__item:last-child &::before {
    background-image: url(./../images/icons/icon3.svg);
    }

    @media screen and (min-width: 768px) {
        font-size: 48px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 58px;
    }
  
}

.information__description {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.7;
    color: $color-dark;

    @media screen and (max-width: 767px) {
        width: 230px;
    }

    @media screen and (min-width: 768px) {
        font-size: 14px;
        line-height: 1.74;
    }
    @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 1.76;
    }
}