.mobile-button {
    background-color: $background-pink;
    padding: 0;
    border: transparent;

    &.is-open {
        background-color: $background-modal;

        @media screen and (min-width: 350px) {
            position: fixed;
            right: 20px;
            z-index: 11;
        }
    }

    @media screen and (min-width: 768px) {
        margin-right: 30px;
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
}

.button__icon {
    position: relative;
    z-index: 10;
    fill: $color-red;
}

.button__icon-burger {
    opacity: 1;

    .mobile-button.is-open & {
        opacity: 0;
        
    }
}

.button__icon-cross {
    opacity: 0;
    fill: $color-light;

    .mobile-button.is-open & {
        opacity: 1;    
    }
}

.mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 60px;

    background-color: $background-modal;

    overflow: scroll;
    z-index: 3;
    transform: translateX(100%);
    transition-property: transform;
    @extend %transition-style;

    &.is-open {
        transform: translateX(0);
    }

    @media screen and (min-width: 400px) {
        width: 400px;
    }
    @media screen and (min-width: 1200px) {
        display: none;
    }
}


.mobile-menu__btn {
    margin: 0 auto;
    margin-bottom: 19px;
    width: 209px;
}


.mobile-menu__item {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 21px;

    border-top: 1px solid #E18298;
    border-bottom: 1px solid #E18298;
}

.mobile-menu__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.285;
    color: $color-light;

    &--current,
    &:hover,
    &:active,
    &:focus {
        color: $color-red;
    }
}