.photo-set {
    background: linear-gradient($background-light 40%, $background-lightpink 40%);
}


.photo-set__list {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 5px;
}

.photo-set__item {
    transform: scale(1);
    transition-property: transform;
    @extend %transition-style;

    &:hover,
    &:focus,
    &:active {
        transform: scale(1.03);
    }
}

.photo-set__item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 4 / 7;
}

.photo-set__item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 3 / 6;
}
.photo-set__item:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 6 / 9;
}
.photo-set__item:nth-child(4) {
    grid-column: 3 / 5;
    grid-row: 1 / 7;
}
.photo-set__item:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 7 / 10;
}
.photo-set__item:nth-child(6) {
    grid-column: 5 / 6;
    grid-row: 3 / 6;
}
.photo-set__item:nth-child(7) {
    grid-column: 5 / 6;
    grid-row: 6 / 9;
}
.photo-set__item:nth-child(8) {
    grid-column: 6 / 7;
    grid-row: 2 / 5;
}
.photo-set__item:nth-child(9) {
    grid-column: 6 / 7;
    grid-row: 5 / 8;
}
.photo-set__item:nth-child(10) {
    grid-column: 7 / 8;
    grid-row: 4 / 7;
}


