.products {
    padding-top: 121px;
    padding-bottom: 98px;


    @media screen and (min-width: 1200px) {
        padding-top: 122px;
        padding-bottom: 112px;
    }

    @media screen and (min-width: 1200px) {
        padding-top: 127px;
        padding-bottom: 119px;
    }
}

.products__heading {
    margin-bottom: 144px;

    @media screen and (min-width: 768px) {
        margin-bottom: 150px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 259px;
    }
}


.products__list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width:768px) {
        margin-left: -20px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: -25px;
    }
}

.products__item {
    position: relative;
    @media screen and (max-width: 767px) {
        margin-bottom: 130px;
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 20px*3) / 3);
        margin-left: 20px;
    }
    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 25px*3) / 3);
        margin-left: 25px;
    }
}

.products__img {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 54%);
    z-index: 2;
    @media screen and (min-width: 1200px) {
        transform: translate(-50%, 35%);
    }
}

.products__container {
    position: relative;

    background-color: $background-pink;
    padding: 161px 40px 40px 40px;
    border-radius: 24px;

    text-align: center;
    color: $color-light;
    transition-property: box-shadow;
    @extend %transition-style;

    z-index: 1;

    .products__item:hover   &,
    .products__item:focus   &,
    .products__item:active  & {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .products__item:nth-child(2) & {
            background-color: $background-beige;
    }

    .products__item:last-child & {
        background-color: $background-green;
    }

    @media screen and (min-width: 768px) {
        padding: 152px 11px 40px 11px;
    }

    @media screen and (min-width: 1200px) {
        padding: 163px 44px 50px 44px;
    }
}    


.products__title {
    font-family: $font-second;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;

    &:after {
        content: "";
        display: block;
        margin: 0 auto;
        margin-top: 32px;
        margin-bottom: 32px;
        width: 26px;
        height: 6px;
        border-bottom: 6px dotted white;
    }

    @media screen and (min-width: 1200px) {
        font-size: 30px;
        line-height: 1.13;
    }
}

.products__info {
    display: block; 

    opacity: 1;
    transform: scale(1);
    transition-property: opacity, transform;
    @extend %transition-style;

}


.products__wrapper {
    position: absolute;
    display: block;
    top: 180px;
    left: 0;
    padding-left: 50px;
    padding-right: 50px;

    opacity: 1;
    transform: scale(1);
    transition-property: opacity, transform;
    @extend %transition-style;

}


.not-shown {
    opacity: 0;
    transform: scale(0.8);
}

.products__text {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;

    @media screen and (min-width: 768px) {
        margin-bottom: 40px;

        line-height: 1.76;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: 62px;

        font-size: 16px;
        line-height: 1.76;
    }
}

.products__btn {
    width: 40px;
    height: 40px;

    background-color: $background-light;
    border-radius: 50%;
}

.btn--primary {
    position: absolute;

}

.btn--hidden {
    opacity: 0;
    pointer-events: none;
}


.products__icon {
    fill: $color-red;

    transition-property: transform;
    @extend %transition-style;
}
