.top-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

    background-color: $background-light;
    box-shadow: 0px 3px 76px -14px rgba(0, 0, 0, 0.9);
    border: 2px solid $background-lightpink;
    border-radius: 50%;

    font-weight: 500;
    color: $color-red;

    outline: transparent;
    opacity: 0.7;
    cursor: pointer;

    z-index: 8;
}

.top-button:hover {
    opacity: 1;
    border: 2px solid rgba(233, 116, 116, 0.15);
    box-shadow: 0px 3px 76px -14px rgba(212, 27, 27, 0.9);
}