$color-light: #FFFFFF;
$color-dark: #000000;
$color-brown: #907E82;
$color-red: #D41443;
$color-pink: #FFA5BA;

$background-light: #FFFFFF;
$background-pink: #FFB8CA;
$background-lightpink: #FFF5F6;
$background-beige: #F0D1A5;
$background-green: #C2E297;


$font-main: 'DM Sans', sans-serif;
$font-second: 'Titan One', sans-serif;

