.list {
    list-style: none;
}

.link {
    display: inline-block;
    text-decoration: none;
}

.btn {
    height: 44px;
    display: inline-block;
    color: $color-red;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;

    border: transparent;
    border-radius: 22px;
    background-color: $background-light;

    transition-property: background-color, color;
    @extend %transition-style;

    cursor: pointer;

    &:hover,
    &:active,
    &:focus {
        background-color: $background-hover;
    }
}

.btn--accent {
    color: $color-light;
    
    background-color: $background-red;

    &:hover,
    &:active,
    &:focus {
        background-color: $background-accent-hover;
    }

    & .icon {
        fill: $color-light;
    }
}

.icon {
    display: inline-block;
    transition-property: fill;
    @extend %transition-style;
}